<h3>All Tags</h3>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: 'tag_name' %>
    </li>
  <% end %>
</ul>

<%= link_to "<< Back to Articles List", articles_path %>